*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  height: 400px;
  border: 1px solid red;
  margin-inline: auto;

  display: grid;
  place-items: center;
}

.tooltip {
  position: relative;
  width: 250px;
  height: 70px;

  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 70px;

  transition: 1s;
}

.tooltip::before {
  position: absolute;
  content: attr(title);
  width: 200px;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  line-height: 1.5;

  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.tooltip::after {
  content: '';
  position: absolute;

  border: 5px solid transparent;

  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.tooltip:hover:before,
.tooltip:hover:after {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
/* tooltip Top */
.tooltip.top::before {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.top::after {
  border-bottom-width: 0;
  border-top-color: red;

  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* tooltip bottom */
.tooltip.bottom::before {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}
.tooltip.bottom::after {
    border-top-width: 0;
    border-bottom-color: red;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* tooltip right */
.tooltip.right::before {
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
}
.tooltip.right::after {
    border-left-width: 0;
    border-right-color: red;

    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
/* tooltip left */
.tooltip.left::before {
    right: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
}
.tooltip.left::after {
    border-right-width: 0;
    border-left-color: red;

    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}

